@import 'bootstrap/dist/css/bootstrap';

.navbar{
    background-color: black !important;
    color: wheat !important;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}
.index-page{
    background-color: rgb(190, 189, 189);
}
